$primary: #36e4d5;
$bg : #24252a;

*{
    margin: 0px;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

body{

    .navbar{
        position: sticky;
        top: 0;
        height: 60px;
        display: flex;
        padding: 0px 120px;
    
        /* background: #24252a9a; */
    
        z-index: 10;
        justify-content: space-between;
        align-items: center;

        .logo{
            display: inline;
            font-family: Righteous;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
        
            color: #FFFFFF;
        }

        .main_navbar a{
            display: inline;
            padding: 0px 12px;
        
            text-decoration: none;
            font-family: Kanit;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 36px;
            
            color: #ffffff;
            
            transition: 0.3s;
            transition-timing-function: ease-in-out;
        }

        .main_navbar a:hover{
            color: $primary
        }
    }

    main{
        padding: 0px 156px;
        height: auto;
        background-color: #24252a;
    }
    
}

.photo_besar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -60px;
    height: 500px;
    padding: 72px 156px;
    background: url(image_low/BG2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .nama_besar{
        width: 100%;
        height: 83;
        
        font-family: Kanit;
        font-style: normal;
        font-weight: bold;
        font-size: 70px;
    
        color: #FFFFFF;
    }

    .jurusan{
        font-family: Kanit;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 45px;
        /* identical to box height */
        color: #FFFFFF;
    }
}

#profile{
    display: flex;
}

.photo-profile{
    margin-top: 80px;
    height: 375px;
    border-radius: 10px;
}

.descprofile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin-top: 80px ;
    margin-left: 40px;
}

h3 {
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    /* identical to box height */
    color: #36E4D5;
}

p{
    font-family: Kanit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: justify;

    color: #DEDEDE;
}

#about{
    margin-bottom: 20px;
}

.button{
    display: flex;
    padding: 8px 24px;
    background-color: #36e4d5;
    width: fit-content;

    align-items: center;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;

    cursor: pointer;
    border-radius: 100px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.button:hover{
    background-color: #27a89e;
}

.button img{
    margin-right: 8px;
    
}

.poster{
    display: grid;
    margin-top: 120px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
}

.poster img{
    width: 100%;
}

.poster div img{
    margin-bottom: 24px;
    cursor: pointer;
}

.poster div img:hover{
    opacity: 0.5;
}

.hide{
    display: none;
}

.descprofile .sosmed{
    display: flex;
    width: fit-content;
    
}

.butsosmed{
    margin-right: 20px;    
    color: white;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 40px;
    // width: 40px;
    padding: 8px 8px;
    border-radius: 100px;
    transition: 0.5s ease;
}

.butsosmed:hover{
    width: auto;
    padding: 8px 24px;
    
    :nth-child(1){
        margin-right: 8px;
    }
}

.email{
    background-color: #D7493F;
}
.wa{
    background-color: #25D366;
}
.line{
    background-color: #00B900;
}
.ig{
    background-color: #DB2F69;
}

