* {
  margin: 0px;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body .navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 120px;
  /* background: #24252a9a; */
  z-index: 10;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navbar .logo {
  display: inline;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

body .navbar .main_navbar a {
  display: inline;
  padding: 0px 12px;
  text-decoration: none;
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

body .navbar .main_navbar a:hover {
  color: #36e4d5;
}

body main {
  padding: 0px 156px;
  height: auto;
  background-color: #24252a;
}

.photo_besar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -60px;
  height: 500px;
  padding: 72px 156px;
  background: url(image_low/BG2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.photo_besar .nama_besar {
  width: 100%;
  height: 83;
  font-family: Kanit;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  color: #FFFFFF;
}

.photo_besar .jurusan {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */
  color: #FFFFFF;
}

#profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo-profile {
  margin-top: 80px;
  height: 375px;
  border-radius: 10px;
}

.descprofile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
  margin-left: 40px;
}

h3 {
  font-family: Kanit;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  /* identical to box height */
  color: #36E4D5;
}

p {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: justify;
  color: #DEDEDE;
}

#about {
  margin-bottom: 20px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 24px;
  background-color: #36e4d5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  cursor: pointer;
  border-radius: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.button:hover {
  background-color: #27a89e;
}

.button img {
  margin-right: 8px;
}

.poster {
  display: -ms-grid;
  display: grid;
  margin-top: 120px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}

.poster img {
  width: 100%;
}

.poster div img {
  margin-bottom: 24px;
  cursor: pointer;
}

.poster div img:hover {
  opacity: 0.5;
}

.hide {
  display: none;
}

.descprofile .sosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.butsosmed {
  margin-right: 20px;
  color: white;
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 8px;
  border-radius: 100px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.butsosmed:hover {
  width: auto;
  padding: 8px 24px;
}

.butsosmed:hover :nth-child(1) {
  margin-right: 8px;
}

.email {
  background-color: #D7493F;
}

.wa {
  background-color: #25D366;
}

.line {
  background-color: #00B900;
}

.ig {
  background-color: #DB2F69;
}
/*# sourceMappingURL=Main.css.map */